body{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
}
h1{
	text-align: center;
	color: #000;
	margin: 20px 0 30px;
	font-size: 50px;
}
hr{
	border: none;
	width: 500px;
	height: 1px;
	background: #000; 
	margin: 30px 100 30px;
	margin-top: 10px;
}
p{
	padding-bottom: 15px;
	font-weight: 300;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	line-height: 1.0;
	font-size: 20px;
	color: #000;
}
.gallery{
	margin: 10px 80px;
}
.gallery img{
	width: 230px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}